/* ---------------- Header ----------------*/
.navItems::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #41f930; 
  transition: width 0.250s ease-in-out; 
  border-radius: 15px;
}

.navItems:hover::after {
  @apply md:w-full 
}

.navItems{
  @apply md:bg-none md:hover:bg-transparent duration-150 active:bg-slate-900
}

@keyframes rainbowFireEffect {
  0% {
    box-shadow: 0 0 5px rgba(255, 12, 227, 0.7), 0 0 20px rgba(230, 1, 255, 0.7);
  }
  25% {
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.7), 0 0 20px rgba(255, 165, 0, 0.7);
  }
  50% {
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.7), 0 0 20px rgba(255, 255, 0, 0.7);
  }
  75% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.7), 0 0 20px rgba(0, 255, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 5px rgba(4, 255, 192, 0.998), 0 0 20px rgba(28, 255, 247, 0.888);
  }
}



.card-fire-border {
  animation: rainbowFireEffect 8s infinite alternate;
}
