@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* --------- Animate on Scroll css --------- */
@import "aos/dist/aos.css";

@theme {
  --font-mono: "Intel One Mono", monospace;
}

*{
  @apply scroll-smooth  scroll-pt-[75px]
}

*{
  font-family: var(--font-mono);
}

body{
  @apply m-0 overflow-x-hidden w-screen
}



/* ---------------- Header ----------------*/
.navItems::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #41f930; 
  transition: width 0.250s ease-in-out; 
  border-radius: 15px;
}

.navItems:hover::after {
  @apply md:w-full 
}

.navItems{
  @apply md:bg-none md:hover:bg-transparent duration-150 active:bg-slate-900
}

@keyframes rainbowFireEffect {
  0% {
    box-shadow: 0 0 5px rgba(255, 12, 227, 0.7), 0 0 20px rgba(230, 1, 255, 0.7);
  }
  25% {
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.7), 0 0 20px rgba(255, 165, 0, 0.7);
  }
  50% {
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.7), 0 0 20px rgba(255, 255, 0, 0.7);
  }
  75% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.7), 0 0 20px rgba(0, 255, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 5px rgba(4, 255, 192, 0.998), 0 0 20px rgba(28, 255, 247, 0.888);
  }
}



.card-fire-border {
  animation: rainbowFireEffect 8s infinite alternate;
}
 /* --------- Header Ends --------- */

.ctr {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.ctr::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #34d399; /* Tailwind Green Color */
  border-radius: 2px;  
}

/* Firefox */
/* Custom scrollbar for Firefox workaround (if deeper customization is needed) */
* {
  scrollbar-width: thin;  /* Thin scrollbar in Firefox */
  scrollbar-color: #34d399 #000000;  /* Thumb and Track color for Firefox */
}