@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


@theme {
  --font-mono: "Intel One Mono", monospace;
}

*{
  font-family: var(--font-mono);
}


html{
  @apply scroll-smooth  scroll-pt-[50px]
}


body{
  @apply m-0 w-screen overflow-x-hidden
}


/* ---------------- Header ----------------*/
.navItems::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #41f930; 
  transition: width 0.250s ease-in-out; 
  border-radius: 15px;
}

.navItems:hover::after {
  @apply md:w-full 
}

.navItems{
  @apply md:bg-none md:hover:bg-transparent duration-150 active:bg-slate-900
}
 /* --------- Header Ends --------- */

.ctr {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.ctr::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #34d399; /* Tailwind Green Color */
  border-radius: 2px;  
}

/* Firefox */
/* Custom scrollbar for Firefox workaround (if deeper customization is needed) */
* {
  scrollbar-width: thin;  /* Thin scrollbar in Firefox */
  scrollbar-color: #34d399 #000000;  /* Thumb and Track color for Firefox */
}